@(users: Seq[User], currentFilter: String)(implicit flash: play.api.mvc.Flash, msg: play.api.i18n.Messages)

@main("play-orangebus") {

	<!-- Begin page content -->
	<div class="container">
	    <div class="page-header">
	       <h3>Users</h3>
		</div>

		@flash.get("success").map { message =>
			<div class="alert alert-dismissable alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>@message</strong> 
			</div>
		}

		<div id="actions">
	
			@helper.form(action=routes.Application.list(), 'class -> "navbar-form navbar-left", 'role -> "search") {
				<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Search by user name">
				<input type="submit" id="searchsubmit" value="Search" class="btn btn-primary btn-sm"> 
			} 
				
		</div>

		@Option(users).filterNot(_.isEmpty).map { users =>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col2 header"><a>Name</th> 
					 	<th class="col3 header"><a>E-mail</th> 
					 </tr>
				</thead>
				<tbody>
		
					@users.map { user =>
					<tr>
						<td>@user.name</a></td>
						<td>@user.email</td>
					</tr>
					}
		
				</tbody>
			</table>
			<hr/>
          
		}.getOrElse {
			<div class="panel panel-default">
			  <div class="panel-body">
			    <em>Nothing to display</em>
			  </div>
			</div>	
		}
      <a class="btn btn-primary btn-sm pull-right" id="add" href="@routes.Application.create()">Add new user</a>
	</div>
}

